<!DOCTYPE html>
<html>
<head>
<title>Test Angular JS</title>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="bootstrap337/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="content">
<div ng-app="" ng-init="price=100;qty=5;namesArr=['name 01','name 02','name 03'];namesObj=[
    {'name':'Chittipong','country':'Thailand','salary':450000},
    {'name':'Adisorn','country':'USA','salary':34000},
    {'name':'Manit','country':'Thailand','salary':24000},
    {'name':'Sirisak','country':'UAE','salary':28000}
]">
<h1>Test Angular JS</h1>
 <input type="number" class="form-control" ng-model="price" placeholder="Price">
 <input type="number" class="form-control" ng-model="qty" placeholder="Qty">
 
 <h3>1.Bliding Data</h3>
 <h4>Total Price:{{price*qty}}</h4>
<h4Test:{{5+4}}</h4>

<h3>2.Looping Data Array (ng-repeat)</h3>
<ul class="list-group" ng-repeat="n in namesArr">
    <li class="list-group-item">{{n}}</li>
</ul>

<h3>3.Looping Data in Object Array (ng-repeat) and Fiter and Sorting</h3>
<input type="text" class="form-control" ng-model="queryString" placeholder="Fiter by">
<p>Filter by:{{queryString}}</p>

<input type="radio" value="name" ng-model="sortString"> Sorted by name(ASC)
<input type="radio" value="-name" ng-model="sortString"> Sorted by name(DESC)
<input type="radio" value="country" ng-model="sortString"> Sorted by countryz(ASC)
<p>Sorting By: {{sortString}}</p>
<div class="row">
<table class="table">
    <tr ng-repeat="n in namesObj | filter:queryString | orderBy:sortString">
        <td>{{n.name}}</td>
        <td>{{n.country}}</td>
        <td>{{n.salary | currency:'THB '}}</td>
    </tr>
</table>
</div>
<hr>
<h3>Tips</h3>
<p>*การ Filter เฉพาะคอลัมภ์ให้กำหนดเพิ่มเช่น ng-model="queryString.name"  ถ้าใส่แค่ queryString จะเป็นการค้นหาทุกคอลัมภ์ เป็นต้น</p>
<p>*การแสดงค่าเงิน n.salary | currency </p>
<p>*การแสดงค่าเงินบาท n.salary | currency:'THB ' </p>
<p>*การ Sort Order ถ้าต้องการเรียงแบบ DESC ให้ใส่ - หน้า value เช่น value="-name" เป็นต้น</p>
</div>
</div>
</div>
</body>
</html>
